{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ reservation.Reference }}</td>
            </tr>
            <tr>
                <th>DateRes</th>
                <td>{{ reservation.DateRes ? reservation.DateRes|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Satut</th>
                <td>{{ reservation.Satut }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">back to list</a>

    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
