{% extends 'base.html.twig' %}

{% block title %}CategorieAvion{% endblock %}

{% block body %}
    <h1>CategorieAvion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie_avion.id }}</td>
            </tr>
            <tr>
                <th>NomCat</th>
                <td>{{ categorie_avion.nomCat }}</td>
            </tr>
            <tr>
                <th>Compagnie</th>
                <td>{{ categorie_avion.compagnie }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ categorie_avion.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categorie_avion_index') }}">back to list</a>

    <a href="{{ path('app_categorie_avion_edit', {'id': categorie_avion.id}) }}">edit</a>

    {{ include('categorie_avion/_delete_form.html.twig') }}
{% endblock %}
